{% extends "base.html" %}

{% block header %}
    <h1>Mental Health Predictor</h1>
{% endblock %}
{% block content %}
    <p>input your information to find stuff out!</p>
    <form action="#" method = "POST"> <!-- "POST" means that we will get information from the user-->
        <p>Name:</p>
        <p><input type = "text" name = "nm" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </form>
    <form action="#" method = "GET"> <!-- "GET" means that we will put info here from the server-->

    </form>
{% endblock %}
